body{
    margin: 0;
}
.content {
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.header {
    padding: 3px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}